<!doctype html>
html lang="ja"
	head
		meta charset="utf-8"
		meta http-equiv="X-UA-Compatible" content="IE=Edge"
		title -- アクリルロコモーション
		meta name="keywords" content="music,Virtual YouTuber"
		meta name="description" content="音楽制作サークル"
		meta name="author" content="shinnn"
		link rel="stylesheet" href="/styles.css"
	body
		#container
			main
				.centered
					h1#circle-name -- ACRYL LOCOMOTION
					#circle-info -- shinnn の個人音楽制作サークル「アクリルロコモーション」のサイトです
					hr
				article.centered
					ul
						li#twitter
							a href="https://twitter.com/acryllocomotion" -- Twitter
						li#niconico
							a href="http://www.nicovideo.jp/user/82303258" -- ニコニコ動画
						li#soundcloud
							a href="https://soundcloud.com/user-878576450" -- SoundCloud
