<!doctype html>
html lang="ja"
	head
		meta charset="utf-8"
		meta http-equiv="X-UA-Compatible" content="IE=Edge"
		title -- アクリルロコモーション
		meta name="keywords" content="music,Virtual YouTuber"
		meta name="description" content="音楽制作サークル"
		meta name="author" content="shinnn"
		link rel="stylesheet" href="/styles.css"
	body
		#container
			// h1 -- アクリルロコモーション
			h1 -- wwewiorelk45544sdds545
			// h2 -- 音楽制作サークル
			ul.colors
